.form.formFindContact {
	width: 350px;

	.contactFounded {
		// color: #ccc;
		// position: absolute;
		// background-co: ;
		// background-color: #a8e59c;
		.text {
			background-color: rgba(204, 204, 204, 0.294);
			padding: 5px;
			border-radius: 5px;
			box-shadow: 1px 2px 3px #ccc;
		}
	}

	.radioGroup {
		display: flex;
		justify-content: center;
		align-items: center;
		input {
			margin: 0 5px;
		}
		label {
			margin: 0 10px;
		}
	}

	.findButton {
		margin-top: 10px;
		top: 50px;
		width: 170px;
	}
}
